Repository chromaui/learnstorybook.com, pull requests merged in 2021-06, with the labels that each got.

#504 Add missing git command
  content/intro-to-storybook/react/en/get-started.md
Labels: enhancement

#503 Highlight PropTypes import
  content/intro-to-storybook/react/en/simple-component.md
Labels: Tutorial: Intro to Storybook

#502 Update screen.md for Angular
  content/intro-to-storybook/angular/en/screen.md
Labels: Tutorial: Intro to Storybook

#441 Update Intro to Storybook for React in zh-TW
  content/intro-to-storybook/react/zh-TW/composite-component.md
  content/intro-to-storybook/react/zh-TW/conclusion.md
  content/intro-to-storybook/react/zh-TW/contribute.md
  content/intro-to-storybook/react/zh-TW/data.md
  content/intro-to-storybook/react/zh-TW/deploy.md
  content/intro-to-storybook/react/zh-TW/get-started.md
  content/intro-to-storybook/react/zh-TW/screen.md
  content/intro-to-storybook/react/zh-TW/simple-component.md
  content/intro-to-storybook/react/zh-TW/test.md
  content/intro-to-storybook/react/zh-TW/using-addons.md
  src/lib/getLanguageName.js
  src/lib/locales/zh-TW.js
Labels: Tutorial: Intro to Storybook

#512 Indicate to the user the need to create preview-head.html
  content/design-systems-for-developers/react/en/build.md
Labels: enhancement

#501 Visual Testing Handbook translation to Spanish
  content/visual-testing-handbook/react/es/automate.md
  content/visual-testing-handbook/react/es/component-explorers.md
  content/visual-testing-handbook/react/es/conclusion.md
  content/visual-testing-handbook/react/es/introduction.md
  content/visual-testing-handbook/react/es/vtdd.md
  content/visual-testing-handbook/react/es/workflow.md
  gatsby-config.js
Labels: Tutorial: Visual Testing Handbook

#513 Add the BBC to the examples of Storybook users
  content/design-systems-for-developers/react/en/introduction.md
  content/design-systems-for-developers/react/ko/introduction.md
  content/design-systems-for-developers/react/pt/introduction.md
Labels: Tutorial: Design Systems for Developers, enhancement
