Repository chromaui/learnstorybook.com, pull requests merged in 2022-10, with the labels that each got.

#635 Chore: simplify wording in `vue/en/simple-component.md`
  content/intro-to-storybook/vue/en/simple-component.md
Labels: Tutorial: Intro to Storybook

#637 Chore: update react/ja/simple-component.md
  content/intro-to-storybook/react/ja/screen.md
  content/intro-to-storybook/react/ja/simple-component.md
  content/intro-to-storybook/react/ja/test.md
  gatsby-config.js
Labels: Tutorial: Intro to Storybook

#651 Chore (intro to storybook) Minor edits for the Intro to Storybook
  content/intro-to-storybook/react/en/simple-component.md
  content/intro-to-storybook/svelte/en/simple-component.md
Labels: Tutorial: Intro to Storybook, hacktoberfest-accepted

#654 Chore: (Docs Intro to Storybook) Fixes snippet for simple component (Vue)
  content/intro-to-storybook/vue/en/simple-component.md
  content/intro-to-storybook/vue/es/simple-component.md
  content/intro-to-storybook/vue/fr/simple-component.md
  content/intro-to-storybook/vue/pt/simple-component.md
  content/intro-to-storybook/vue/zh-CN/simple-component.md
Labels: Tutorial: Intro to Storybook

#655 Chore: (Docs): Fix tutorial links
  content/create-an-addon/react/en/conclusion.md
  content/create-an-addon/react/es/conclusion.md
  content/create-an-addon/react/fr/conclusion.md
  content/create-an-addon/react/ko/conclusion.md
  content/design-systems-for-developers/react/zh-CN/build.md
  content/intro-to-storybook/vue/zh-CN/conclusion.md
Labels: Tutorial: Intro to Storybook, Tutorial: Design Systems for Developers, Tutorial: Create an Addon, hacktoberfest-accepted

#658 Fix the shell script to install a11y addon
  content/intro-to-storybook/react/ja/simple-component.md
Labels: Tutorial: Intro to Storybook

#657 Update the sample code of ja simple-component.md to fix the vertical alignment and color of the star icon
  content/intro-to-storybook/react/ja/simple-component.md
Labels: Tutorial: Intro to Storybook

#660 Chore: (Intro Storybook) Updates Svelte to 6.5
  content/intro-to-storybook/svelte/en/composite-component.md
  content/intro-to-storybook/svelte/en/data.md
  content/intro-to-storybook/svelte/en/deploy.md
  content/intro-to-storybook/svelte/en/screen.md
  content/intro-to-storybook/svelte/en/simple-component.md
  content/intro-to-storybook/svelte/en/test.md
  content/intro-to-storybook/svelte/en/using-addons.md
  gatsby-config.js
Labels: Tutorial: Intro to Storybook, hacktoberfest-accepted

#661 Chore (Tutorials) Minor tweaks to the tutorials links
  content/design-systems-for-developers/react/ko/distribute.md
  content/design-systems-for-developers/react/ko/review.md
  content/design-systems-for-developers/react/ko/test.md
  content/intro-to-storybook/angular/en/deploy.md
  content/intro-to-storybook/angular/es/deploy.md
  content/intro-to-storybook/angular/ja/deploy.md
  content/intro-to-storybook/react/ar/deploy.md
  content/intro-to-storybook/react/fr/deploy.md
  content/intro-to-storybook/react/ja/deploy.md
  content/intro-to-storybook/react/ko/deploy.md
  content/intro-to-storybook/react/nl/deploy.md
  content/intro-to-storybook/react/zh-CN/deploy.md
  content/intro-to-storybook/react/zh-TW/deploy.md
  content/intro-to-storybook/vue/en/deploy.md
  content/intro-to-storybook/vue/zh-CN/deploy.md
Labels: Tutorial: Intro to Storybook, Tutorial: Design Systems for Developers

#668 Fix EditTask play function
  content/ui-testing-handbook/react/en/interaction-testing.md
Labels: Tutorial: UI Testing Handbook

#666 Sync with the EN page: (Composite components) Remove 自動テスト section
  content/intro-to-storybook/react/ja/composite-component.md
Labels: Tutorial: Intro to Storybook

#669 Migrate Cypress related code to Cypress 10
  content/ui-testing-handbook/react/en/user-flow-testing.md
Labels: Tutorial: Visual Testing Handbook

#670 Chore: (UI testing Handbook) Updates Korean translation for Cypress 10
  content/ui-testing-handbook/react/ko/user-flow-testing.md
Labels: Tutorial: UI Testing Handbook

#671 Fix typo in filename
  content/create-an-addon/react/en/preset.md
Labels: Tutorial: Create an Addon

#672 Chore: (Create an addon tutorial): Fix incorrect snippet name
  content/create-an-addon/react/ko/preset.md
Labels: Tutorial: Create an Addon
