Repository chromaui/learnstorybook.com, pull requests merged in 2022-06, with the labels that each got.

#606 Update intro-to-storybook (japanese)
  content/intro-to-storybook/react/ja/composite-component.md
  content/intro-to-storybook/react/ja/conclusion.md
  content/intro-to-storybook/react/ja/data.md
  content/intro-to-storybook/react/ja/deploy.md
  content/intro-to-storybook/react/ja/get-started.md
  content/intro-to-storybook/react/ja/screen.md
  content/intro-to-storybook/react/ja/simple-component.md
  content/intro-to-storybook/react/ja/test.md
  content/intro-to-storybook/react/ja/using-addons.md
  gatsby-config.js
Labels: Tutorial: Intro to Storybook

#615 Chore: (Intro to Storybook) Updates links to deployed Storybook
  content/intro-to-storybook/angular/en/conclusion.md
  content/intro-to-storybook/angular/es/conclusion.md
  content/intro-to-storybook/angular/ja/conclusion.md
  content/intro-to-storybook/angular/pt/conclusion.md
  content/intro-to-storybook/ember/en/conclusion.md
  content/intro-to-storybook/react-native/en/conclusion.md
  content/intro-to-storybook/react-native/es/conclusion.md
  content/intro-to-storybook/react/ar/conclusion.md
  content/intro-to-storybook/react/de/conclusion.md
  content/intro-to-storybook/react/en/conclusion.md
  content/intro-to-storybook/react/es/conclusion.md
  content/intro-to-storybook/react/fr/conclusion.md
  content/intro-to-storybook/react/ja/conclusion.md
  content/intro-to-storybook/react/nl/conclusion.md
  content/intro-to-storybook/react/pt/conclusion.md
  content/intro-to-storybook/react/zh-CN/conclusion.md
  content/intro-to-storybook/react/zh-TW/conclusion.md
  content/intro-to-storybook/svelte/en/conclusion.md
  content/intro-to-storybook/svelte/es/conclusion.md
  content/intro-to-storybook/vue/en/conclusion.md
  content/intro-to-storybook/vue/es/conclusion.md
  content/intro-to-storybook/vue/fr/conclusion.md
  content/intro-to-storybook/vue/pt/conclusion.md
Labels: Tutorial: Intro to Storybook

#595 Translate Storybook Tutorials (react) to Korean
  content/create-an-addon/react/ko/add-to-catalog.md
  content/create-an-addon/react/ko/conclusion.md
  content/create-an-addon/react/ko/decorators.md
  content/create-an-addon/react/ko/getting-started.md
  content/create-an-addon/react/ko/introduction.md
  content/create-an-addon/react/ko/preset.md
  content/create-an-addon/react/ko/register-addon.md
  content/create-an-addon/react/ko/track-state.md
  content/design-systems-for-developers/react/en/document.md
  content/design-systems-for-developers/react/en/introduction.md
  content/design-systems-for-developers/react/ko/architecture.md
  content/design-systems-for-developers/react/ko/build.md
  content/design-systems-for-developers/react/ko/conclusion.md
  content/design-systems-for-developers/react/ko/distribute.md
  content/design-systems-for-developers/react/ko/document.md
  content/design-systems-for-developers/react/ko/introduction.md
  content/design-systems-for-developers/react/ko/review.md
  content/design-systems-for-developers/react/ko/test.md
  content/design-systems-for-developers/react/ko/workflow.md
  content/intro-to-storybook/react/ko/composite-component.md
  content/intro-to-storybook/react/ko/conclusion.md
  content/intro-to-storybook/react/ko/contribute.md
  content/intro-to-storybook/react/ko/data.md
  content/intro-to-storybook/react/ko/deploy.md
  content/intro-to-storybook/react/ko/get-started.md
  content/intro-to-storybook/react/ko/screen.md
  content/intro-to-storybook/react/ko/simple-component.md
  content/intro-to-storybook/react/ko/test.md
  content/intro-to-storybook/react/ko/using-addons.md
  content/ui-testing-handbook/react/ko/accessibility-testing.md
  content/ui-testing-handbook/react/ko/automate.md
  content/ui-testing-handbook/react/ko/composition-testing.md
  content/ui-testing-handbook/react/ko/conclusion.md
  content/ui-testing-handbook/react/ko/interaction-testing.md
  content/ui-testing-handbook/react/ko/introduction.md
  content/ui-testing-handbook/react/ko/user-flow-testing.md
  content/ui-testing-handbook/react/ko/visual-testing.md
  content/ui-testing-handbook/react/ko/workflow.md
  content/visual-testing-handbook/react/ko/automate.md
  content/visual-testing-handbook/react/ko/component-explorer.md
  content/visual-testing-handbook/react/ko/conclusion.md
  content/visual-testing-handbook/react/ko/introduction.md
  content/visual-testing-handbook/react/ko/vtdd.md
  content/visual-testing-handbook/react/ko/workflow.md
Labels: Tutorial: Intro to Storybook, Tutorial: Design Systems for Developers, Tutorial: Visual Testing Handbook

#614 Chore: (Intro to Storybook) Updates for 6.5
  content/intro-to-storybook/angular/en/composite-component.md
  content/intro-to-storybook/angular/en/data.md
  content/intro-to-storybook/angular/en/get-started.md
  content/intro-to-storybook/angular/en/screen.md
  content/intro-to-storybook/angular/en/simple-component.md
  content/intro-to-storybook/angular/en/test.md
  content/intro-to-storybook/angular/en/using-addons.md
  content/intro-to-storybook/react/en/composite-component.md
  content/intro-to-storybook/react/en/data.md
  content/intro-to-storybook/react/en/screen.md
  content/intro-to-storybook/react/en/simple-component.md
  content/intro-to-storybook/react/en/test.md
  content/intro-to-storybook/react/en/using-addons.md
  content/intro-to-storybook/vue/en/composite-component.md
  content/intro-to-storybook/vue/en/data.md
  content/intro-to-storybook/vue/en/screen.md
  content/intro-to-storybook/vue/en/simple-component.md
  content/intro-to-storybook/vue/en/test.md
  content/intro-to-storybook/vue/en/using-addons.md
  gatsby-config.js
  static/intro-to-storybook/broken-inbox-angular-with-accessibility.png
  static/intro-to-storybook/broken-inbox-error-state-optimized.png
  static/intro-to-storybook/broken-inboxscreen-vue.png
  static/intro-to-storybook/broken-tasklist-optimized.png
  static/intro-to-storybook/chromatic-manual-storybook-deploy-6-0.png
  static/intro-to-storybook/chromatic-manual-storybook-deploy-6-4.png
  static/intro-to-storybook/controls-in-action-6-4.mp4
  static/intro-to-storybook/controls-in-action.mp4
  static/intro-to-storybook/edge-case-solved-with-controls-6-4.png
  static/intro-to-storybook/edge-case-solved-with-controls.png
  static/intro-to-storybook/finished-inboxscreen-states-6-0.mp4
  static/intro-to-storybook/finished-task-states-6-0.mp4
  static/intro-to-storybook/finished-task-states-accessibility-issue.png
  static/intro-to-storybook/finished-tasklist-states-6-0.mp4
  static/intro-to-storybook/finished-tasklist-states-6-4-optimized.mp4
  static/intro-to-storybook/inbox-screen-with-working-msw-addon-optimized.mp4
  static/intro-to-storybook/inprogress-task-states-6-0.mp4
  static/intro-to-storybook/inprogress-tasklist-states-6-0.mp4
  static/intro-to-storybook/storybook-interactive-stories-play-function-6-4.mp4
  static/intro-to-storybook/storybook-interactive-stories-play-function.mp4
  static/intro-to-storybook/storybook-test-runner-execution.png
  static/intro-to-storybook/task-edge-case-6-4.png
  static/intro-to-storybook/task-edge-case.png
  static/intro-to-storybook/task-states-learnstorybook-accessible.png
Labels: Tutorial: Intro to Storybook

#620 Chore: (Tutorials) Fix links for outdated packages
  content/design-systems-for-developers/react/en/distribute.md
  content/design-systems-for-developers/react/en/document.md
  content/design-systems-for-developers/react/en/review.md
  content/design-systems-for-developers/react/ko/distribute.md
  content/design-systems-for-developers/react/ko/document.md
  content/design-systems-for-developers/react/ko/review.md
  content/design-systems-for-developers/react/pt/build.md
  content/design-systems-for-developers/react/pt/introduction.md
  content/design-systems-for-developers/react/pt/review.md
  content/design-systems-for-developers/react/zh-CN/build.md
  content/design-systems-for-developers/react/zh-CN/introduction.md
  content/design-systems-for-developers/react/zh-CN/review.md
  content/intro-to-storybook/angular/pt/deploy.md
  content/intro-to-storybook/angular/pt/using-addons.md
  content/intro-to-storybook/ember/en/conclusion.md
  content/intro-to-storybook/ember/en/screen.md
  content/intro-to-storybook/react-native/en/conclusion.md
  content/intro-to-storybook/react-native/en/get-started.md
  content/intro-to-storybook/react-native/en/using-addons.md
  content/intro-to-storybook/react-native/es/conclusion.md
  content/intro-to-storybook/react-native/es/data.md
  content/intro-to-storybook/react-native/es/get-started.md
  content/intro-to-storybook/react-native/es/using-addons.md
  content/intro-to-storybook/react/de/deploy.md
  content/intro-to-storybook/react/de/using-addons.md
  content/intro-to-storybook/react/nl/using-addons.md
  content/intro-to-storybook/react/pt/deploy.md
  content/intro-to-storybook/react/pt/using-addons.md
  content/intro-to-storybook/svelte/en/conclusion.md
  content/intro-to-storybook/svelte/es/conclusion.md
  content/intro-to-storybook/svelte/es/deploy.md
  content/intro-to-storybook/svelte/es/using-addons.md
  content/intro-to-storybook/vue/en/conclusion.md
  content/intro-to-storybook/vue/es/conclusion.md
  content/intro-to-storybook/vue/fr/deploy.md
  content/intro-to-storybook/vue/fr/using-addons.md
  content/intro-to-storybook/vue/pt/conclusion.md
  content/intro-to-storybook/vue/pt/deploy.md
  content/intro-to-storybook/vue/pt/using-addons.md
  content/intro-to-storybook/vue/zh-CN/conclusion.md
Labels: Tutorial: Intro to Storybook, Tutorial: Design Systems for Developers
