Repository chromaui/learnstorybook.com, pull requests merged in 2024-05, with the labels that each got.

#760 Update workflow.md
  content/ui-testing-handbook/react/en/workflow.md
Labels: Tutorial: UI Testing Handbook

#763 Docs: Minor Fixes to the Italian translations
  README.md
  content/intro-to-storybook/react/it/get-started.md
  content/intro-to-storybook/react/it/screen.md
  content/intro-to-storybook/vue/it/simple-component.md
  gatsby-config.js
Labels: Tutorial: Intro to Storybook

#766 Docs - Intro to Storybook Svelte updates
  README.md
  content/intro-to-storybook/svelte/en/composite-component.md
  content/intro-to-storybook/svelte/en/conclusion.md
  content/intro-to-storybook/svelte/en/data.md
  content/intro-to-storybook/svelte/en/deploy.md
  content/intro-to-storybook/svelte/en/get-started.md
  content/intro-to-storybook/svelte/en/screen.md
  content/intro-to-storybook/svelte/en/simple-component.md
  content/intro-to-storybook/svelte/en/test.md
  content/intro-to-storybook/svelte/en/using-addons.md
  gatsby-config.js
  static/intro-to-storybook/controls-in-action-svelte-7-0.mp4
  static/intro-to-storybook/finished-inbox-screen-states-svelte-7-0.mp4
  static/intro-to-storybook/storybook-interactive-stories-play-function-svelte.mp4
  static/intro-to-storybook/task-stories-long-title-svelte-7-0.mp4
Labels: Tutorial: Intro to Storybook

#759 Use new subtitle parameter as of 8.1
  content/design-systems-for-developers/react/en/document.md
Labels: Tutorial: Design Systems for Developers

#764 Add instruction to restart Storybook server after addon configuration…
  content/intro-to-storybook/angular/en/simple-component.md
  content/intro-to-storybook/react/en/simple-component.md
Labels: Tutorial: Intro to Storybook

#768 Docs: Intro Storybook React updates and misc tutorial fixes
  README.md
  content/intro-to-storybook/react/en/composite-component.md
  content/intro-to-storybook/react/en/conclusion.md
  content/intro-to-storybook/react/en/data.md
  content/intro-to-storybook/react/en/deploy.md
  content/intro-to-storybook/react/en/screen.md
  content/intro-to-storybook/react/en/simple-component.md
  content/intro-to-storybook/react/en/test.md
  content/intro-to-storybook/react/en/using-addons.md
  content/intro-to-storybook/svelte/en/simple-component.md
  content/intro-to-storybook/vue/en/screen.md
  content/intro-to-storybook/vue/en/simple-component.md
  content/intro-to-storybook/vue/en/test.md
  gatsby-config.js
Labels: Tutorial: Intro to Storybook
