Repository chromaui/learnstorybook.com, pull requests merged in 2024-12, with the labels that each got.

#765 Update intro-to-storybook/ja
  content/intro-to-storybook/react/ja/composite-component.md
  content/intro-to-storybook/react/ja/conclusion.md
  content/intro-to-storybook/react/ja/contribute.md
  content/intro-to-storybook/react/ja/data.md
  content/intro-to-storybook/react/ja/deploy.md
  content/intro-to-storybook/react/ja/get-started.md
  content/intro-to-storybook/react/ja/screen.md
  content/intro-to-storybook/react/ja/simple-component.md
  content/intro-to-storybook/react/ja/test.md
  content/intro-to-storybook/react/ja/using-addons.md
Labels: Tutorial: Intro to Storybook

#777 French translation - design systems for developers | react
  content/design-systems-for-developers/react/fr/architecture.md
  content/design-systems-for-developers/react/fr/build.md
  content/design-systems-for-developers/react/fr/conclusion.md
  content/design-systems-for-developers/react/fr/distribute.md
  content/design-systems-for-developers/react/fr/document.md
  content/design-systems-for-developers/react/fr/introduction.md
  content/design-systems-for-developers/react/fr/review.md
  content/design-systems-for-developers/react/fr/test.md
  content/design-systems-for-developers/react/fr/workflow.md
Labels: Tutorial: Design Systems for Developers

#791 Docs: Adjusts missing tutorial versions and minor QA on links
  README.md
  content/intro-to-storybook/react/ja/composite-component.md
  content/intro-to-storybook/react/ja/conclusion.md
  content/intro-to-storybook/react/ja/data.md
  content/intro-to-storybook/react/ja/deploy.md
  content/intro-to-storybook/react/ja/screen.md
  content/intro-to-storybook/react/ja/simple-component.md
  content/intro-to-storybook/react/ja/test.md
  content/intro-to-storybook/react/ja/using-addons.md
  gatsby-config.js
Labels: Tutorial: Intro to Storybook, Tutorial: Design Systems for Developers

#774 Docs: Intro Storybook - Updates to the Chinese (simplified) translation
  content/intro-to-storybook/vue/zh-CN/composite-component.md
  content/intro-to-storybook/vue/zh-CN/conclusion.md
  content/intro-to-storybook/vue/zh-CN/data.md
  content/intro-to-storybook/vue/zh-CN/deploy.md
  content/intro-to-storybook/vue/zh-CN/get-started.md
  content/intro-to-storybook/vue/zh-CN/screen.md
  content/intro-to-storybook/vue/zh-CN/simple-component.md
  content/intro-to-storybook/vue/zh-CN/test.md
  content/intro-to-storybook/vue/zh-CN/using-addons.md
Labels: Tutorial: Intro to Storybook

#792 Docs: Fix snippets and version for translation
  content/intro-to-storybook/vue/zh-CN/composite-component.md
  content/intro-to-storybook/vue/zh-CN/data.md
  content/intro-to-storybook/vue/zh-CN/deploy.md
  content/intro-to-storybook/vue/zh-CN/screen.md
  content/intro-to-storybook/vue/zh-CN/simple-component.md
  content/intro-to-storybook/vue/zh-CN/test.md
  content/intro-to-storybook/vue/zh-CN/using-addons.md
  gatsby-config.js
Labels: Tutorial: Intro to Storybook
