Repository chromaui/learnstorybook.com, pull requests merged in 2024-09, with the labels that each got.

#776 Corrected the typo where the JSX file format was mistakenly labeled as JS
  content/intro-to-storybook/react/ko/composite-component.md
  content/intro-to-storybook/react/ko/data.md
  content/intro-to-storybook/react/ko/screen.md
  content/intro-to-storybook/react/ko/simple-component.md
  content/intro-to-storybook/react/ko/test.md
  content/intro-to-storybook/react/ko/using-addons.md
Labels: Tutorial: Intro to Storybook

#780 Docs: Visual testing handbook fix arg typo
  content/visual-testing-handbook/react/en/vtdd.md
Labels: Tutorial: Visual Testing Handbook

#779 Docs: UI testing handbook minor fixes
  content/ui-testing-handbook/react/en/accessibility-testing.md
  content/ui-testing-handbook/react/en/composition-testing.md
  content/ui-testing-handbook/react/en/interaction-testing.md
  content/ui-testing-handbook/react/en/introduction.md
  content/ui-testing-handbook/react/en/workflow.md
Labels: Tutorial: UI Testing Handbook

#781 Docs: Intro Storybook Angular updates for the latest release (8.3)
  content/intro-to-storybook/angular/en/composite-component.md
  content/intro-to-storybook/angular/en/conclusion.md
  content/intro-to-storybook/angular/en/data.md
  content/intro-to-storybook/angular/en/deploy.md
  content/intro-to-storybook/angular/en/get-started.md
  content/intro-to-storybook/angular/en/screen.md
  content/intro-to-storybook/angular/en/simple-component.md
  content/intro-to-storybook/angular/en/test.md
  content/intro-to-storybook/angular/en/using-addons.md
  gatsby-config.js
Labels: Tutorial: Intro to Storybook
